html, body {
    margin: 0;
    height: 100%;
}


.sidebar { height: 100vh;}


a {
    text-decoration:none;
}


/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}


.center{
    justify-content: center;
    color
}

#displayNumber_L {
    margin: 2% 0 2%;
}

#GuessAlert {
    margin: 2% 0 2%;
}

#indexTitle {
    margin: 2% 0 18%;
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}



/* User answer box hide Arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.big_number {
    margin: 1.5% 0;
}

.pagination > li > a, .pagination > li > span{
     color:black !Important;
}



/* .App-module_game__NSc-J */
.App_game {
    width: 100%;
    max-width: var(--game-max-width);
    margin: 0 auto;
    height: calc(100% - var(--header-height));
    display: flex;
    flex-direction: column;
}

/* .Board-module_boardContainer__cKb-C */
.boardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
}

/* .Board-module_board__lbzlf */
/* .Board-module_board__lbzlf {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 5px;
    padding: 10px;
    box-sizing: border-box;
} */

/* .Nav-module_navIcon__mgXpj {
    padding-right: 8px;
} */

/* .AppHeader-module_icon__x7b46 */
.AppHeader_icon {
    background: none;
    border: none;
}
