{% extends "layout.html" %}

{% block title %}
    Change Passwords
{% endblock %}

{% block main %}

    <form action="/changepassword" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="old_password" placeholder="Old Password*" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="new_password" placeholder="New Password*" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="new_pw_confirmation" placeholder="New Password(again)*" type="password">
        </div>
        <button class="btn btn-dark"  type="submit">Change Passwords</button>
    </form>

{% endblock %}