{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}

    <form action="/login" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-dark" type="submit">Log In</button>
    </form>
    

    <div dir="auto" style="margin-top: 1%">
        <span>
            <span class="fs-6" >or</span>
        </span>
        <span>
            <span>
                <a class="text-black" href="/register">Register</a>
            </span>
        </span>
    </div>



{% endblock %}
