{% extends "layout.html" %}

{% block title %}
    Rank
{% endblock %}

{% block main %}

        <div class="App_game">
          <div class="boardContainer" style="overflow: unset;">
              <div class="center">
                  <h1 style="font-size:3vw" id="indexTitle">RANK</h1>
              </div>
          </div>
        </div>


        <div class="row row-cols-1 row-cols-md-3 g-4">
          {% for content in jinja_contents %}  
          <div class="col">
                <div class="card border-dark mb-3" style="max-width: 18rem;">
                  
                    <div class="card-header">{{ content.game_type }} × {{ content.game_type }}</div>
                    <div class="card-body text-dark">
                      <p class="card-text">{{ content.username }}</p>
                      <h5 class="card-title">{{ content.best_time }}</h5>
                      <p class="card-text"><small class="text-muted">{{ content.time }}</small></p>
                    </div>  
                </div>
          </div>
             {% endfor %}
        </div>
    
{% endblock %}